@use "vars" as *;

/* ====================================================
Control
==================================================== */
.c-fc{ //font-color
	&--ff{
		color: #fff
	}
}



.c-fw{//font-weight
	&--lt{
		font-weight: 300!important
	}
	&--rg{
		font-weight: 400!important
	}
	&--md{
		font-weight: 500!important
	}
	&--sbd{
		font-weight: 600!important
	}
	&--bd{
		font-weight: 700!important
	}
	&--bk{
		font-weight: 900!important
	}
}



.c-tx--v {//Vertical writing
	//display: inline-block;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	&-pc{
		@include mq(md-min) {
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	}
}



.c-al{//text-align
	&--c{
		text-align: center!important
	}
	&--r{
		text-align: right!important
	}
	&--l{
		text-align: left!important
	}
}



.c-val{//vertical-align
	&--md{
		vertical-align: middle
	}
	&--top{
		vertical-align: top
	}
}





/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__01{//14/29
		@include fts(16, 32);
		@include mq(sm) {
			line-height: 2;
		}
	}
}



// Common Title style
%__c-ttl__01{
	display: inline-block;
	position: relative;
	padding-right: 64px;
	@include font-size(15);
	@include p-before(54px, 2px){
		@include v-align;
		right: 0;
	}
}


.c-ttl{
	&__01{
		text-align: center;
		font-weight: 700;
		margin-bottom: min(5.703vw, 73px);
		@include mq{
			margin-bottom: 43px;
		}
		& > *{
			display: block;
		}
		.txt-lg{
			@include font-size(50);
			line-height: 1.6;
			@include mq(tb){
				@include font-size(35);
			}
			@include mq{
				@include font-size(32);
			}
			span{
				color: #FF7E36;
			}
		}
		.txt-sm{
			@include font-size(35);
			margin-bottom: 28px;
			@include mq(tb){
				@include font-size(25);
			}
			@include mq{
				@include font-size(20);
				margin-bottom: 25px;
			}
		}
		&--white{
			color: #fff;
		}
		&--yellow{
			color: #FFF961;
		}
	}
}



// Common Button style
%__c-btn__01{
	position: relative;
	padding-bottom: 20px;
	width: 200px;
	@include font-size(16);
	font-weight: 500;
	letter-spacing: .05em;
	border-bottom: 2px solid #000;
	transition: .2s;
	@include p-before(18px, 18px){
		top: 1px;
		right: 0;
		@include font-size(18);
		@include ft-awesome(f30b);
		transition: .2s;
	}
}



.c-btn__01{
	max-width: 340px;
	width: 100%;
	text-align: center;
	@include mq{
		max-width: 355px;
	}
	.txt-note{
		display: inline-block;
		@include font-size(14);
		font-weight: 700;
		margin-bottom: 10px;
		position: relative;
		@include mq{
			@include font-size(16);
		}
		&::before, &:after{
			content: "";
			display: block;
			width: 1px;
			height: 15px;
			background: #000;
			position: absolute;
			bottom: 0;
		}
		&::before{
			left: -15px;
			transform: rotate(-25deg);
		}
		&::after{
			right: -10px;
			transform: rotate(25deg);
		}
	}
	a{
		background: rgb(255,122,0);
		background: linear-gradient(90deg, rgba(255,122,0,1) 0%, rgba(231,181,0,1) 100%);
		height: 80px;
		@include flex(center, center);
		border-radius: 40px;
		@include font-size(24);
		font-weight: 700;
		color: #fff;
		@include fn-hover;
		@include mq{
			height: 84px;
			border-radius: 50px;
			@include font-size(22);
		}
		span{
			display: inline-flex;
			align-items: center;
			position: relative;
			@include p-before(18px, 14px){
				background: url(../img/index/ico-email.png) no-repeat center/100%;
				position: relative;
				margin-right: 5px;
			}
		}
	}

	&--large{
		max-width: 470px;
		margin: 0 auto;
		.txt-note{
			@include font-size(18);
			@include mq{
				@include font-size(16);
			}
		}
		a{
			height: 110px;
			@include font-size(32);
			border-radius: 60px;
			@include mq{
				@include font-size(22);
				height: 85px;
			}
			span{
				&::before{
					width: 25px;
					height: 20px;
					margin-right: 10px;
					@include mq{
						width: 19px;
						height: 15px;
					}
				}
			}
		}
	}
}


.c-btn__submit{
	max-width: 505px;
	width: 100%;
	outline: 0;
	border: none;
	background: rgb(255,122,0);
	background: linear-gradient(90deg, rgba(255,122,0,1) 0%, rgba(231,181,0,1) 100%);
	height: 110px;
	@include flex(center, center);
	border-radius: 60px;
	@include font-size(26);
	font-weight: 700;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
	@include fn-hover;
	letter-spacing: 3px;
	@include mq{
		@include font-size(22);
		letter-spacing: 1px;
		height: 85px;
	}
	@include mq(sm){
		width: 105%;
		margin-left: -2.5%;
	}
}

