@use 'vars' as *;

.mv-top{
	position: relative;
	padding: 60px 0 92px;
	z-index: 2;
	background: url(../img/index/bg-mv.png) no-repeat center/cover;
	@include mq{
		padding: 15px 0 52px;
		background: url(../img/index/bg-mv-sp.png) no-repeat top center/100%;
	}
	.inner{
		max-width: 1160px;
		width: 91%;
		@include mq{
			width: 100%;
		}
	}
	&__logo{
		display: block;
		width: 170px;
		margin-bottom: 53px;
		@include mq{
			width: 70px;
			margin-bottom: 33px;
		}
	}
	&__ttl{
		max-width: 62.5%;
		margin-bottom: 42px;
		position: relative;
		z-index: 2;
		@include mq{
			max-width: 323px;
			margin-bottom: 30px;
		}
	}
	&__desc{
		@include font-size(20);
		margin-bottom: 48px;
		line-height: 1.95;
		position: relative;
		z-index: 2;
		@include mq{
			@include font-size(16);
			line-height: 1.8;
			margin-bottom: 20px;
		}
	}
	&__img{
		width: 48.7%;
		position: absolute;
		bottom: -95px;
		right: 0;
		@include mq{
			right: -20px;
			top: 4vw;
			bottom: auto;
		}
		@include mq(sm){
			position: relative;
			width: calc(100% + 20px);
			bottom: 0;
			top: auto;
			right: 0;
			margin-bottom: 55px;
			margin-left: -11px;
		}
	}
}

.problems-top{
	padding: min(16.953vw, 217px) 0 min(16.563vw, 212px);
	background: #0D3C75;
	@include mq{
		padding: 85px 0 90px;
	}
	&__wp{
		@include mq(tb){
			flex-direction: column-reverse;
		}
		&-img{
			width: 433px;
			position: relative;
			top: -9px;
			@include mq(tb){
				margin: 0 auto;
				width: 300px;
			}
			@include mq{
				max-width: 200px;
				width: 100%;
				top: 0;
				margin: 0 auto;
			}
		}
		&-ct{
			width: calc(100% - 433px);
			padding-left: 62px;
			@include mq(tb){
				max-width: 700px;
				width: 100%;
				margin: 0 auto 50px;
			}
			@include mq(){
				max-width: 450px;
				width: 100%;
				padding-left: 0;
			}
		}
		&-list{
			@include fts(24, 30);
			color: #fff;
			font-weight: 700;
			@include mq{
				@include fts(16, 30);
			}
			li{
				position: relative;
				margin-bottom: 30px;
				padding-left: 52px;
				@include mq{
					padding-left: 35px;
					margin-bottom: 20px;
				}
				@include p-before(28px, 28px){
					background: url(../img/index/ico-check.png) no-repeat center/100%;
					top: 0;
					left: 0;
					@include mq{
						width: 20px;
						height: 20px;
						top: 8px;
					}
				}
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
}

.aboutus-top{
	padding: min(21.094vw, 270px) 0 min(15.625vw, 200px);
	@include mq{
		padding: 138px 0 100px;
	}
	&__ttl{
		margin-bottom: 54px;
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__content{
		background: #F6F6F6;
		padding: min(7.656vw, 98px) min(8.906vw, 114px) min(5.469vw, 70px);
		margin-bottom: min(17.500vw, 224px);
		position: relative;
		@include mq{
			padding: 76px 10px 75px;
			margin-bottom: 150px;
			width: calc(100% + 20px);
			margin-left: -10px;
		}
	}
	&__list{
		li{
			position: relative;
			display: block;
			padding-bottom: 15px;
			margin-bottom: 31px;
			border-bottom: 1px dashed #C6C6C6;
			@include font-size(22);
			line-height: 1.3;
			font-weight: 700;
			padding-left: 35px;
			@include mq(tb){
				@include font-size(20);
				line-height: 1.5;
			}
			@include mq{
				@include fts(16, 32);
				margin-bottom: 30px;
				padding-bottom: 20px;
				padding-right: 10px;
				line-height: 1.3;
			}
			@include p-before(26px, 28px){
				background: url(../img/index/ico-light.png) no-repeat center/100%;
				left: 0;
				top: 0;
				@include mq{
					width: 20px;
					height: 22px;
					top: 6px;
				}
			}
		}
	}
	&__img-left{
		width: 300px;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(40%);
		@include mq{
			width: 220px;
			transform: none;
			bottom: -9px;
		}
		@include mq(sm){
			display: none;
		}
	}
	&__img-right{
		position: absolute;
		width: 286px;
		bottom: 0;
		right: 0;
		transform: translateY(40%);
		@include mq{
			width: 200px;
			transform: none;
		}
	}
	&__ttlsub{
		@include fts(28, 54);
		font-weight: 700;
		text-align: center;
		margin-bottom: 50px;
		@include mq(tb){
			@include font-size(24);
		}
		@include mq{
			line-height: 1.6;
			margin-bottom: 67px;
		}
	}
	&__desc{
		@include fts(20, 44);
		text-align: center;
		margin-bottom: min(6.250vw, 80px);
		@include mq(tb){
			@include font-size(18);
		}
		@include mq{
			@include fts(16, 32);
			margin-bottom: 92px;
			text-align: left;
		}
		p{
			margin-bottom: 44px;
			@include mq(tb){
				margin-bottom: 30px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	&__btn{
		margin: 0 auto;
	}
}

.reason-top{
	padding: min(14.453vw, 185px) 0 min(15.625vw, 200px);
	background: #F6F6F6;
	@include mq{
		padding: 90px 0 100px;
	}
	&__ttl{
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__list{
		gap: 50px;
		padding: 0 54px;
		@include mq(xl){
			padding: 0;
		}
		@include mq{
			gap: 15px;
			grid-template-columns: 1fr 1fr;
		}
		@include mq(sm){
			grid-template-columns: 1fr;
			gap: 40px;
		}
		&-item{
			background: #fff;
			border-radius: 30px;
			box-shadow: 4px 4px 34px 0 rgba($color: #000000, $alpha: .1);
			padding: min(3.906vw, 50px)  min(5.469vw, 70px) min(4.688vw, 60px);
			@include mq(tb){
				padding: 50px 20px;
			}
			@include mq{
				padding: 70px 20px;
				p{
					line-height: 2;
				}
			}
		}
		&-img{
			margin-bottom: 40px;
			@include mq{
				max-width: 200px;
				margin: 0 auto 40px;
			}
		}
		&-ttl{
			@include fts(24, 40);
			text-align: center;
			font-weight: 700;
			margin-bottom: 30px;
			@include flex(center, center);
		}
	}
}

.features-top{
	padding: min(14.375vw, 184px) 0 0;
	@include mq{
		padding: 140px 0 0;
	}
	&__ttl{
		@include mq{
			margin-bottom: 62px;
		}
	}
	&__desc{
		@include font-size(24);
		line-height: 2.3;
		text-align: center;
		margin-bottom: 242px;
		@include mq(tb){
			@include font-size(20);
		}
		@include mq{
			@include font-size(16);
			margin-bottom: 50px;
			text-align: left;
			line-height: 2;
		}
	}
	&__main{
		background: #0D3C75;
		padding-bottom: 140px;
		@include mq{
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
	&__list{
		margin: 0 -70px 110px;
		padding: 0 13%;
		@include mq(tb){
			padding: 0;
			margin: 0 -30px 110px;
		}
		@include mq{
			margin: 0 -15px 90px;
		}
		@include mq(sm){
			padding: 0;
			margin: 0 0 90px;
		}
		&-item{
			width: 50%;
			padding: 0 60px;
			@include mq(tb){
				padding: 0 30px;
			}
			@include mq{
				padding: 0 15px;
			}
			@include mq(sm){
				width: 100%;
				margin-bottom: 150px;
				padding: 0 15px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
		&-img{
			max-width: 330px;
			width: 100%;
			margin: 0 auto -28%;
			position: relative;
			transform: translateY(-50%);
			@include mq{
				max-width: 200px;
				margin: 0 auto 47px;
				transform: none;
			}
		}
		&-ttl{
			@include font-size(44);
			font-weight: 700;
			line-height: 1;
			color: #FF7E36;
			text-align: center;
			margin-bottom: 60px;
			@include mq{
				@include font-size(24);
				margin-bottom: 30px;
			}
		}
		&-desc{
			color: #ffff;
			font-weight: 700;
			@include mq{
				line-height: 2;
			}
			p{
				margin-bottom: 30px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
}

.support-top{
	padding: min(14.453vw, 185px) 0 min(15.625vw, 200px);
	@include mq{
		padding: 140px 0 150px;
	}
	&__ttl{
		margin-bottom: 75px;
		@include mq{
			margin-bottom: 62px;
		}
	}
	&__list{
		gap: min(7.813vw, 100px);
		@include mq{
			gap: 70px;
		}
		&-item{
			@include mq{
				line-height: 2;
			}
		}
		&-ttl{
			@include font-size(28);
			line-height: 1;
			font-weight: 700;
			color: #fff;
			width: 100%;
			padding: 41px 20px;
			background: rgb(13,59,116);
			background: linear-gradient(90deg, rgba(13,59,116,1) 0%, rgba(4,86,162,1) 100%);
			border-radius: 55px;
			text-align: center;
			margin-bottom: 40px;
			@include mq(tb){
				@include font-size(24);
				padding: 33px 20px;
			}
		}
	}
}

.results-top{
	padding: min(14.453vw, 185px) 0 min(15.625vw, 200px);
	background: #F2F2F2;
	@include mq{
		padding: 90px 0 100px;
	}
	&__ttl{
		margin-bottom: 74px;
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__list{
		gap: min(6.875vw, 88px) min(4.688vw, 60px);
		margin-bottom: min(7.813vw, 100px);
		@include mq{
			gap: 15px 20px;
			margin-bottom: 88px;
			grid-template-columns: 1fr 1fr;
		}
		@include mq(sm){
			gap: 35px 60px;
			grid-template-columns: 1fr;
		}
		&-item{
			border: 4px solid #0D3C75;
			padding: 50px 40px 40px;
			background: #fff;
			border-radius: 20px;
			@include mq{
				padding: 58px 20px;
			}
		}
		&-icon{
			text-align: center;
			margin-bottom: 40px;
			@include flex(center, center);
		}
		&-ttl{
			@include font-size(24);
			text-align: center;
			color: #0D3C75;
			margin-bottom: 24px;
			font-weight: 700;
			@include mq(tb){
				line-height: 1.55;
			}
			@include mq{
				margin-bottom: 14px;
			}
		}
		&-desc{
			text-align: center;
		}
	}
}

.system-top{
	padding: min(14.453vw, 185px) 0 min(13.281vw, 170px);
	background: #0d3b74;
	background: -webkit-gradient(linear, left top, right top, from(#0d3b74), to(#0456a2));
	background: -o-linear-gradient(left, #0d3b74 0%, #0456a2 100%);
	background: linear-gradient(90deg, #0d3b74 0%, #0456a2 100%);
	@include mq{
		padding: 90px 0 60px;
	}
	&__ttl{
		margin-bottom: 74px;
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__list{
		margin: 0 -20px -80px;
		justify-content: center;
		padding: 0 60px;
		@include mq(tb){
			padding: 0;
			margin: 0 auto;
		}
		&-item{
			width: 50%;
			padding: 0 20px;
			margin-bottom: 80px;
			@include mq{
				margin-bottom: 40px;
				padding: 0 10px;
			}
			@include mq(sm){
				width: 100%;
				padding: 0;
			}
		}
		&-wp{
			border-radius: 30px;
			background: #fff;
			padding: 88px 55px 66px;
			box-shadow: 4px 4px 34px 0 rgba($color: #000000, $alpha: .1);
			@include mq{
				padding: 60px 8px;
			}
		}
		&-img{
			text-align: center;
			margin-bottom: 84px;
			@include flex(center, center);
			@include mq{
				margin-bottom: 44px;
			}
		}
		&-ttl{
			text-align: center;
			@include font-size(27);
			margin-bottom: 34px;
			font-weight: 700;
			@include mq{
				margin-bottom: 20px;
			}
		}
		&-desc{
			@include mq{
				text-align: center;
			}
		}
	}
}


.partner-top{
	padding: min(7.422vw, 95px) 0 min(8.594vw, 110px);
	@include mq{
		padding: 90px 0 100px;
	}
	&__ttl{
		margin-bottom: 52px;
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__list{
		@include flex(between, center);
		gap: 15px;
		@include mq(sm){
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px 50px;
		}
	}
}

.request-top{
	padding: min(13.281vw, 170px) 0 min(14.063vw, 180px);
	background: #F2F2F2;
	@include mq{
		padding: 90px 0 100px;
	}
	&__ttl{
		margin-bottom: 102px;
		@include mq{
			margin-bottom: 92px;
		}
	}
	&__list{
		justify-content: center;
		margin: 0 -20px -20px;
		counter-reset: li;
		@include mq{
			margin: 0 auto 90px;
		}
		&-item{
			width: 33.33%;
			padding: 0 20px;
			margin-bottom: 110px;
			position: relative;
			position: relative;
			@include mq{
				width: 100%;
				margin-bottom: 177px;
				padding: 0 7px;
			}
			&:nth-child(3){
				&::after{
					@include mq(md-min){
						display: none;
					}
				}
			}
			&:last-of-type{
				@include mq{
					margin-bottom: 0;
				}
				&::after{
					display: none;
				}
			}
			&::after{
				@include mq(){
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-width: 14px 14.5px 0 14.5px;
					border-color: #0D3C75 transparent transparent transparent;
					border-style: solid;
					position: absolute;
					left: 50%;
					bottom: -87px;
					transform: translateX(-50%);
				}
				@include mq(md-min){
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-width: 14.5px 0 14.5px 14px;
					border-color: transparent transparent transparent #0D3C75;
					border-style: solid;
					position: absolute;
					top: 50%;
					right: -11px;
					transform: translateY(-50%);
				}
			}
			&::before{
				counter-increment: li;
				content: "0"counter(li);
				font-family: 'Roboto', sans-serif;
				@include font-size(16);
				font-weight: 700;
				color: #fff;
				width: 60px;
				height: 60px;
				background: #0d3b74;
				background: -webkit-gradient(linear, left top, right top, from(#0d3b74), to(#0456a2));
				background: -o-linear-gradient(left, #0d3b74 0%, #0456a2 100%);
				background: linear-gradient(90deg, #0d3b74 0%, #0456a2 100%);
				border-radius: 50%;
				@include flex(center, center);
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&-wp{
			background: #fff;
			padding: 65px 40px 29px;
			box-shadow: 4px 5px 21px 0 rgba($color: #000000, $alpha: .1);
			@include mq{
				padding: 64px 35px 28px 50px;
				height: 250px;
			}
		}
		&-ttl{
			text-align: center;
			@include font-size(24);
			font-weight: 700;
			margin-bottom: 14px;
		}
	}
}


.faq-top{
	padding: min(14.375vw, 184px) 0 min(15.625vw, 200px);
	@include mq{
		padding: 140px 0 150px;
	}
	&__ttl{
		margin-bottom: 75px;
		@include mq{
			margin-bottom: 60px;
		}
	}
	&__main{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		&-dl{
			margin-bottom: min(7.813vw, 100px);
			@include mq{
				margin-bottom: 48px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		&-dt{
			@include font-size(20);
			font-weight: 500;
			color: #fff;
			background: #0d3b74;
			background: -webkit-gradient(linear, left top, right top, from(#0d3b74), to(#0456a2));
			background: -o-linear-gradient(left, #0d3b74 0%, #0456a2 100%);
			background: linear-gradient(90deg, #0d3b74 0%, #0456a2 100%);
			padding: 15px 35px;
			border-radius: 100px;
			margin-bottom: 30px;
			@include mq{
				@include font-size(16);
				padding: 12px 18px;
				line-height: 1.5;
			}
		}
		&-dd{
			padding: 0 30px;
			@include mq{
				padding: 0;
			}
		}
	}
}


.contact-top{
	padding: min(14.375vw, 184px) 0 30px;
	background: #0d3b74;
	background: -webkit-gradient(linear, left top, right top, from(#0d3b74), to(#0456a2));
	background: -o-linear-gradient(left, #0d3b74 0%, #0456a2 100%);
	background: linear-gradient(90deg, #0d3b74 0%, #0456a2 100%);
	@include mq{
		padding: 90px 0 18px;
	}
	&__ttl{
		margin-bottom: 75px;
		@include mq{
			margin-bottom: 62px;
		}
	}
	&__intro{
		text-align: center;
		line-height: 2.375;
		margin-bottom: 75px;
		color: #fff;
		@include mq{
			line-height: 2;
			margin-bottom: 62px;
			p{
				margin-bottom: 20px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
	&__form{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: min(15.625vw, 200px);
		border-bottom: 1px solid #000911;
		margin-bottom: min(9.922vw, 127px);
		@include mq{
			padding: 0 10px 148px;
			margin-bottom: 142px;
		}
	}
	&__dl{
		margin-bottom: 53px;
		@include mq{
			margin-bottom: 57px;
		}
		&:nth-last-child(2){
			margin-bottom: 80px;
			@include mq{
				margin-bottom: 57px;
			}
		}
	}
	&__dt{
		color: #fff;
		@include font-size(18);
		font-weight: 700;
		margin-bottom: 12px;
		@include mq{
			@include font-size(16);
		}
		.required{
			font-family: 'Inter', sans-serif;
			color: #FF7A00;
			@include font-size(14);
			margin-left: 10px;
			@include mq{
				@include font-size(12);
			}
		}
		.multiple{
			color: #B2B2B2;
			font-family: 'Inter', sans-serif;
			@include font-size(14);
			margin-left: 10px;
			@include mq{
				@include font-size(12);
			}
		}
	}
	.l-grid{
		gap: 0 40px;
	}

	&__profile{
		max-width: 560px;
		width: 100%;
		margin: 0 auto min(16.719vw, 214px);
		@include mq{
			margin-bottom: 154px;
		}
		&-ttl{
			margin-bottom: 65px;
			@include mq{
				margin-bottom: 62px;
			}
		}
		&-dl{
			color: #fff;
			@include flex(0, start, wrap);
			@include font-size(20);
			line-height: 3;
			font-weight: 500;
			@include mq{
				@include font-size(18);
			}
			@include mq(sm){
				margin-bottom: 41px;
				line-height: 2;
			}
		}
		&-dt{
			width: 150px;
			font-weight: 700;
			letter-spacing: 1px;
			@include mq(sm){
				width: 100%;
				margin-bottom: 3px;
			}
		}
		&-dd{
			width: calc(100% - 150px);
			letter-spacing: 2px;
			@include mq(sm){
				@include font-size(16);
				width: 100%;
			}
		}
	}
}


.copyright{
	text-align: center;
	@include font-size(12);
	color: #B3B3B3;
	@include mq{
		@include font-size(10);
	}
}